
#ls_oldlimit_box{
	color: #464646;
	font: bold 24px/29px Georgia;
	height: 32px;
	overflow: hidden;
	text-align: center;
	text-shadow: 1px 1px 0 #FFFFFF;
	width: 64px;
	z-index: 9999;
	left: 50%;
	margin-left: -32px;
	top:0;
	position: fixed;
}

.top_oldlimit_box{
	background:url("st1_top.png") no-repeat scroll 0 0 transparent
}

#countdown{
	padding-left: 0;
}

ul#countdown li {
  display: inline-block;
  background:  url('timer-piece.png')  no-repeat scroll 0 0 transparent;
  width: 42px;
  height: 43px;
  text-align: center;
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
ul#countdown li span {
  font:bold 28px/43px Arial;
  color: #1f2225;
  position: relative;
}

ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
  color: #fff;
  text-transform: uppercase;
  font-size: 7px;
  margin: 3px 0;
}

button{
	background: none;
	border:none;
}

.button{
background: none repeat scroll 0 0 #7C9410;
border-radius: 10px 10px 10px 10px;
color: #FFFFFF;
display: inline-block;
font: 14px/27px Arial;
height: 27px;
padding: 0 15px;
text-align: center;
}

.button:hover{
	background: #6B8108;
}

a{
	color: #A3B618;
	text-decoration: none;
}

a:hover{
	color:#898A8B;
}

.editor h2{
	color: #A3B618;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0;
	padding: 17px 0 5px;
}

.editor p{
	font-size: 11px;
}

.editor a{

}

*::selection{
	background: none repeat scroll 0 0 #545252;
	color: #FFFFFF;
}

*::-moz-selection{
	background: none repeat scroll 0 0 #545252;
	color: #FFFFFF;
}

html{
	background: #9c0 url('bg.jpg') 0 0 repeat;
	height: 100%;
}

body{
	background:url("body_bg.jpg") no-repeat scroll 50% 0 transparent;
	min-height: 100%;	
	padding: 45px 0;
	 font-family: Arial,Helvetica,sans-serif;
	 color: #898A8B;
	 font-size: 12px;
}

.all-wrap{
	max-width: 1064px;
	background: #F7F7F6;
	margin:0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-width: 1064px;
	overflow: hidden;
}

.main-head{
	padding: 28px 40px;
	background: url("header_bg.png") no-repeat scroll 0 0 transparent;
	-webkit-box-shadow: 0 0 10px #A4A3A3;
	-moz-box-shadow: 0 0 10px #A4A3A3;
	box-shadow: 0 0 10px #A4A3A3;
	position: relative;
	z-index: 88;
}

.site-title{
	margin: 0;
	width: 30%;
	margin: 15px 0 0 0;
	line-height: 12px;
}

.site-title-url{
	font-size: 12px;
}

.site-title-img{
	display: block;
}

.b-site-contact{
	color: #898A8B;
	font-family: Georgia;
	font-size: 20px;
	font-weight: bold;
	margin-left: 88px;
	text-align: left;
}

.b-site-contact-phone{
	margin-bottom: 12px;
}

.b-site-contact-phone, .b-site-contact-mail{
	display: block;
}

.b-site-contact-mail{
	font-family: Georgia;
	font-size: 18px;
	color: #A3B618;
	margin: 7px 0 0 10px;
	padding-left: 15px;
	font-style:italic ;
	background: #fff url('email.png') 0 center no-repeat;
}

.b-site-contact-mail:hover{
	color: #898A8B;
}

.login-wrap{
	margin: 4px 0 15px 0;
}

.login-wrap a{
	color: #7E7D7D;
	font-size:12px ;
	padding: 0 12px;
	float: left;
}

.login-wrap .sign-up-url{
	padding-right: 0;
}

.login-wrap a:hover{
	color: #000;
}

.login-url{
	background: transparent url('cart_header.gif') 100% center no-repeat;
}

.cart-inner{
	font-size: ;
	color: #A3B618;
	font-size: 12px;
}

.cart-inner:hover{
	color: #898A8B;
}

.top-nav-wrap{
	background: url("cat_navbar.gif") repeat-x scroll 0 0 transparent;
	min-height: 52px;
	width: 100%;
	overflow: hidden;
}

.top-nav{
	overflow: hidden;
}

.top-nav-item{
	color: #fff;
	font-size: 17px;
	padding: 16px 19px 18px;
	float: left;
	border-right:1px solid #3F3E3E ;
	height: 52px;
	position: relative;
	z-index: 89;
}

.top-nav-item:hover, .top-nav-item.active{
	background: linear-gradient(to bottom, #879E13 0%, #7A9310 100%) repeat scroll 0 0 transparent;
	color:#fff;
}

.search-wrap{
	font-size: 12px;
	right: 13px;
	top: 12px;
	color: #9E9D9D;
}

.search-input{
	background: none;
	border:none;
	color: #9E9D9D;
}

.search-input-wrap{
	background: url("search_input_bg.gif") no-repeat scroll 0 0 transparent;
	padding:5px;
	width: 164px;
}


.b-special-item{
	padding: 5px 10px;
	background: #fff;
}

.b-special-item-title{
	background: url("day_header.png") no-repeat scroll center top #FFFFFF;
	color: #FEE453;
	font: 18px/38px Arial;
	height: 43px;
	text-align: center;
	text-shadow: 1px 1px 2px #000000;
	text-transform: uppercase;
	width: 100%;
	margin: 0;
}

.b-special-item-box-wrap{
	background: linear-gradient(to bottom, #FFFFFF 36%, #E2E2E2 100%) repeat scroll 0 0 transparent;
	display: block;
	height: 191px;
	position: relative;
	width: 100%;
	padding: 3px 10px;
}

.b-special-item-price-box{
	width: 415px;
}

.b-special-item-second-title{
	color: #000000;
	display: block;
	font: 18px/20px Arial;
	margin-top: 10px;
	padding: 0;
	text-transform: uppercase;
	width: 280px;
}

.b-special-item-super-price{
	color: #96B500;
	font: bold 18px/20px Arial;
	margin-bottom: 10px;
	margin-top: 30px;
}

.b-special-item-super-price-text{
	color: #FDA214;
	font: bold 45px/25px Georgia;
	margin-left: 10px;
	text-shadow: 5px 5px 5px #F0F0F0;
}

.b-special-item-old-price{
	color: #9E9E9E;
	font: 14px/16px Arial;
	margin-left: 45px;
	text-transform: uppercase;
	text-decoration: line-through;
}

.b-special-item-box2-img{
	border: 1px solid #889C1F;
	display: block;
	height: 184px;
	margin: 0 auto;
	width: 184px;
}

.b-special-item-description{
	padding: 25px 0 10px 20px;
	overflow: hidden;
}

.b-special-item-footer{
	background: url("day_footer.jpg") no-repeat scroll left top #FFFFFF;
	display: block;
	height: 80px;
	padding-top: 4px;
	width: 100%;
}

.special-item-countdowntext{
	color: #FFFFFF;
	font: 18px/80px Arial;
	margin: 0 35px;
	text-shadow: 1px 1px 2px #000000;
}

.countdown-button{
	-moz-box-sizing: border-box;
	background: linear-gradient(to bottom, #FEE100 0%, #FFB802 100%) repeat scroll 0 0 transparent;
	border: 1px solid #FFE6AA;
	border-radius: 2px 2px 2px 2px;
	color: #000000;
	display: block;
	font: bold 28px/38px Arial;
	text-align: center;
	text-shadow: 1px 1px 2px #FFE07D;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 0 2px #B4AF1D;
	margin: 14px 25px;
	width: 190px;
}

.b-frontpage-items{
	padding: 5px 20px 50px 20px;
	background: #fff;
	
}

.frontpage-items{
	text-align: center;
	margin: 15px 0;
}

.b-frontpage-items-title{
	text-transform: uppercase;
	color: #A3B618;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}

.item-box{
	min-height: 280px;
	width: 200px;
	margin: 1px;
	display: inline-block;
	vertical-align: top;
}

.item-box-img-url{
	height: 200px;
	display: block;
	text-align: center;
}

.item-box-img-url:before{
	content:"";
	margin-left: -0.25em;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.item-box-img{
	display: inline-block;
	vertical-align: middle;
}

.item-box-title{
	margin: 0;
	min-height: 50px;
}

.item-box-title-url{
	color: #6D9F10;
	display: block;
	font-weight: bold;
	line-height: 1.35em;
	text-decoration: none;
	font-size: 12px;
}

.item-box-title-url:hover{
	text-decoration: underline;
}

.item-box-buyzone .new-price{
	font-size: 15px;
	color: #E6C407;
	font-weight: bold;
}

.buy-button:hover{
	background: linear-gradient(to bottom, #3A3939 0%, #2F2E2E 100%) repeat scroll 0 0 transparent;
	
}

.main-foot{
	padding: 15px;
	background: #EAE9E9;
	margin-top: 130px;
}

.copy-shop-name-url, .copy-powered-url{
	color: #7E7D7D;
}

/*the blog page*/

.content{
	padding: 20px;
	background: #fff;
}

.main-sidebar{
	width: 241px;
}

.sidebar-links{
	margin-bottom: 30px;
}

.sidebar-links-item{
	padding: 7px;
	border-bottom: 1px solid #fff;
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.sidebar-article-links-item{
	background: #000;
}

.sidebar-categories-links-item{
	background:#393939;
}

.sidebar-links-item:hover, .sideba-links-item.active{
	background: #7FA200;
}

.sidebar-items-box{
	text-align: center;
}

.sidebar-items-box-title{
	font-size: 16px;
	color: #6D9F10;
}

.youhavseen{
	border-bottom: 1px solid #E8E8E8;
	padding-bottom:10px ;
	width: 100%;
	margin-bottom: 20px;
}

.youhavseen .item-box-title{
	min-height: 0;
	
}

.youhavseen .item-box-title-url{
	font-size: 11px;
}

.youhavseen .item-box-title a:hover{
	text-decoration: none;
	color: #898A8B;
}

.youhavseen .new-price{
	display: block;
	margin: 5px 0;
}

.content-box{
	width: 763px;
	padding: 0 8px;
}

.breadcrumbs > a{
	text-transform: uppercase;
	color: #2B2B2B;
	display: inline-block;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}

.breadcrumbs > a:hover{
	color: #A3B618;
}

.breadcrumbs >a:first-child{
	overflow: hidden;
	text-indent: -9999px;
	display: inline-block;
	background: transparent url('home.gif') 0 0 no-repeat;
	width: 12px;
	height: 12px;
}

.page-title{
	text-transform: uppercase;
	color: #A3B618;
	font-size: 18px;
	font-weight: normal;
}

.article-links-item{
	font-size: 11px;
	display: block;
	line-height: 1.5;
}

.article-links-item:hover{
	color: #898A8B;
}

.article-text{
	color: #898A8B;
	font-size: 11px;
	  text-align: justify;
    word-spacing: -0.3ex;
}


/*the categories page*/

.categories-page{
	margin: 45px 0 30px 0;
	padding-right: 60px;
}

.categories-page-item{
	padding-bottom: 20px;
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 10px;
}

.categories-page-image-url{
	margin-right: 10px;
}


.categories-page-item-title{
	margin: 0 0 10px 0;
}

.categories-page-item-title-url{
	font-size: 16px;
	font-weight: normal;
	color: #A3B618;
}

.categories-page-item-title-url:hover{
	color: #898A8B;
}