
#ls_oldlimit_box{
	color: #464646;
	font: bold 24px/29px Georgia;
	height: 32px;
	overflow: hidden;
	text-align: center;
	text-shadow: 1px 1px 0 #FFFFFF;
	width: 64px;
	z-index: 9999;
	left: 50%;
	margin-left: -32px;
	top:0;
	position: fixed;
}

.top_oldlimit_box{
	background:url("st1_top.png") no-repeat scroll 0 0 transparent
}


a{
	color: #A3B618;
	text-decoration: none;
}


*::selection{
	background: none repeat scroll 0 0 #545252;
	color: #FFFFFF;
}

*::-moz-selection{
	background: none repeat scroll 0 0 #545252;
	color: #FFFFFF;
}

html{
	background: #9c0 url('bg.jpg') 0 0 repeat;
	height: 100%;
}

body{
	background:url("body_bg.jpg") no-repeat scroll 50% 0 transparent;
	min-height: 100%;	
	padding: 45px 0;
	 font-family: Arial,Helvetica,sans-serif;
}

.all-wrap{
	max-width: 1064px;
	background: #F7F7F6;
	margin:0 auto;
	height: 800px;/*temp*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow-y: hidden;
	min-width: 1064px;
}

.main-head{
	padding: 28px 40px;
	background: url("header_bg.png") no-repeat scroll 0 0 transparent;
}

.site-title{
	margin: 0;
	width: 30%;
}

.site-title-url{
	font-size: 12px;
}

.site-title-img{
	display: block;
}

.b-site-contact{
	color: #898A8B;
	font-family: Georgia;
	font-size: 20px;
	font-weight: bold;
	margin-left: 88px;
	text-align: left;
}

.b-site-contact-phone{
	margin-bottom: 12px;
}

.b-site-contact-phone, .b-site-contact-mail{
	display: block;
}

.b-site-contact-mail{
	font-family: Georgia;
	font-size: 18px;
	color: #A3B618;
	margin: 7px 0 0 10px;
	padding-left: 10px;
	font-style:italic ;
}

.b-site-contact-mail:hover{
	color: #898A8B;
}
