
#ls_oldlimit_box{
	color: #464646;
	font: bold 24px/29px Georgia;
	height: 32px;
	overflow: hidden;
	text-align: center;
	text-shadow: 1px 1px 0 #FFFFFF;
	width: 64px;
	z-index: 9999;
	left: 50%;
	margin-left: -32px;
	top:0;
	position: fixed;
}

.top_oldlimit_box{
	background:url("st1_top.png") no-repeat scroll 0 0 transparent
}

button{
	background: none;
	border:none;
}

.button{
background: none repeat scroll 0 0 #7C9410;
border-radius: 10px 10px 10px 10px;
color: #FFFFFF;
display: inline-block;
font: 14px/27px Arial;
height: 27px;
padding: 0 15px;
text-align: center;
}




a{
	color: #A3B618;
	text-decoration: none;
}


*::selection{
	background: none repeat scroll 0 0 #545252;
	color: #FFFFFF;
}

*::-moz-selection{
	background: none repeat scroll 0 0 #545252;
	color: #FFFFFF;
}

html{
	background: #9c0 url('bg.jpg') 0 0 repeat;
	height: 100%;
}

body{
	background:url("body_bg.jpg") no-repeat scroll 50% 0 transparent;
	min-height: 100%;	
	padding: 45px 0;
	 font-family: Arial,Helvetica,sans-serif;
	 color: #898A8B;
	 font-size: 12px;
}

.all-wrap{
	max-width: 1064px;
	background: #F7F7F6;
	margin:0 auto;
	height: 800px;/*temp*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-width: 1064px;
}

.main-head{
	padding: 28px 40px;
	background: url("header_bg.png") no-repeat scroll 0 0 transparent;
	-webkit-box-shadow: 0 0 10px #A4A3A3;
	-moz-box-shadow: 0 0 10px #A4A3A3;
	box-shadow: 0 0 10px #A4A3A3;
	position: relative;
	z-index: 88;
}

.site-title{
	margin: 0;
	width: 30%;
	margin: 15px 0 0 0;
	line-height: 12px;
}

.site-title-url{
	font-size: 12px;
}

.site-title-img{
	display: block;
}

.b-site-contact{
	color: #898A8B;
	font-family: Georgia;
	font-size: 20px;
	font-weight: bold;
	margin-left: 88px;
	text-align: left;
}

.b-site-contact-phone{
	margin-bottom: 12px;
}

.b-site-contact-phone, .b-site-contact-mail{
	display: block;
}

.b-site-contact-mail{
	font-family: Georgia;
	font-size: 18px;
	color: #A3B618;
	margin: 7px 0 0 10px;
	padding-left: 15px;
	font-style:italic ;
	background: #fff url('email.png') 0 center no-repeat;
}

.b-site-contact-mail:hover{
	color: #898A8B;
}

.login-wrap{
	margin: 4px 0 15px 0;
}

.login-wrap a{
	color: #7E7D7D;
	font-size:12px ;
	padding: 0 12px;
	float: left;
}

.login-wrap .sign-up-url{
	padding-right: 0;
}

.login-wrap a:hover{
	color: #000;
}

.login-url{
	background: transparent url('cart_header.gif') 100% center no-repeat;
}

.cart-inner{
	font-size: ;
	color: #A3B618;
	font-size: 12px;
}

.cart-inner:hover{
	color: #898A8B;
}

.top-nav-wrap{
	background: url("cat_navbar.gif") repeat-x scroll 0 0 transparent;
	min-height: 52px;
	width: 100%;
	overflow: hidden;
}

.top-nav{
	overflow: hidden;
}

.top-nav-item{
	color: #fff;
	font-size: 17px;
	padding: 16px 19px 18px;
	float: left;
	border-right:1px solid #3F3E3E ;
	height: 52px;
	position: relative;
	z-index: 89;
}

.top-nav-item:hover, .top-nav-item.active{
	background: linear-gradient(to bottom, #879E13 0%, #7A9310 100%) repeat scroll 0 0 transparent;
}

.search-wrap{
	font-size: 12px;
	right: 13px;
	top: 12px;
	color: #9E9D9D;
}

.search-input{
	background: none;
	border:none;
	color: #9E9D9D;
}

.search-input-wrap{
	background: url("search_input_bg.gif") no-repeat scroll 0 0 transparent;
	padding:5px;
	width: 164px;
}


.b-special-item{
	padding: 5px 10px;
	background: #fff;
}

.b-special-item-title{
	background: url("day_header.png") no-repeat scroll center top #FFFFFF;
	color: #FEE453;
	font: 18px/38px Arial;
	height: 43px;
	text-align: center;
	text-shadow: 1px 1px 2px #000000;
	text-transform: uppercase;
	width: 100%;
	margin: 0;
}

.b-special-item-box-wrap{
	background: linear-gradient(to bottom, #FFFFFF 36%, #E2E2E2 100%) repeat scroll 0 0 transparent;
	display: block;
	height: 191px;
	position: relative;
	width: 100%;
	padding: 3px 10px;
}

.b-special-item-price-box{
	width: 415px;
}

.b-special-item-second-title{
	color: #000000;
	display: block;
	font: 18px/20px Arial;
	margin-top: 10px;
	padding: 0;
	text-transform: uppercase;
	width: 280px;
}

.b-special-item-super-price{
	color: #96B500;
	font: bold 18px/20px Arial;
	margin-bottom: 10px;
	margin-top: 30px;
}

.b-special-item-super-price-text{
	color: #FDA214;
	font: bold 45px/25px Georgia;
	margin-left: 10px;
	text-shadow: 5px 5px 5px #F0F0F0;
}

.b-special-item-old-price{
	color: #9E9E9E;
	font: 14px/16px Arial;
	margin-left: 45px;
	text-transform: uppercase;
}

.b-special-item-box2-img{
	border: 1px solid #889C1F;
	display: block;
	height: 184px;
	margin: 0 auto;
	width: 184px;
}